<div id="search-container" class="mb-4 p-3 border rounded">
    <h4>Filtro de búsqueda</h4>
    <div class="row">
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-nombre" class="form-control filtro-profesor" placeholder="Nombre">
        </div>
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-apellido1" class="form-control filtro-profesor" placeholder="Primer apellido">
        </div>
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-apellido2" class="form-control filtro-profesor" placeholder="Segundo apellido">
        </div>
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-email" class="form-control filtro-profesor" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-direccion" class="form-control filtro-profesor" placeholder="Dirección postal">
        </div>
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-telefono" class="form-control filtro-profesor" placeholder="Teléfono">
        </div>
        <div class="col-md-3 mb-2">
            <input type="text" id="filter-alumno" class="form-control filtro-profesor" placeholder="Nombre de alumno">
        </div>
        <div class="col-md-3 mb-2">
            <button id="clear-filters" class="btn btn-secondary w-100">Limpiar filtros</button>
        </div>
    </div>
</div>