<div class="modal fade modal-horizontal" id="deleteAlumnoModal" tabindex="-1" aria-labelledby="deleteAlumnoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAlumnoModalLabel">Eliminar Alumno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este alumno?</p>
                <input type="hidden" id="delete-id">
                <div id="delete-error-message" class="alert alert-danger d-none w-100 mb-3"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-alumno">Eliminar</button>
            </div>
        </div>
    </div>
</div>