# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Virtual environment
.venv/
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local settings
local_settings.py
