<div class="modal fade modal-horizontal" id="editProfesorModal" tabindex="-1" aria-labelledby="editProfesorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfesorModalLabel">Editar Profesor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="edit-error-message" class="alert alert-danger d-none w-100 mb-3"></div>
                <form id="edit-profesor-form" class="row">
                    <input type="hidden" id="edit-id">
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="edit-nombre" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-apellido1" class="form-label">Primer Apellido:</label>
                        <input type="text" class="form-control" id="edit-apellido1" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-apellido2" class="form-label">Segundo Apellido:</label>
                        <input type="text" class="form-control" id="edit-apellido2">
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="edit-email" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-direccion" class="form-label">Dirección Postal:</label>
                        <input type="text" class="form-control" id="edit-direccion">
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="edit-telefono" class="form-label">Teléfono:</label>
                        <input type="tel" class="form-control" id="edit-telefono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save-edit-profesor">Guardar</button>
            </div>
        </div>
    </div>
</div>